div.home-container {
}


div.nav {
  position:relative;
  top:0;
  right:0;
  text-align:right;
}

div.nav a, div.nav button {
  padding:10px;
}

a {
  text-decoration: none;
  color: rgb(173, 70, 162);
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

a:hover {
  color: rgb(187, 143, 206);
  cursor:pointer;
}
