div.articles-container {
  margin-left: 270px;
  margin-top: 40px;
  margin-right: 20px;
}

div.article {
  /* border-bottom: 1px solid lightgrey; */
  position:relative;
  min-height:220px;
}

img.article-img {
  float:left;
  margin:20px;
  margin-top:0;
  margin-left: 0;
  max-width:200px;
  max-height: 200px;
}

div.article-content {
  text-align:left;
}

div.article-content h3 {
  margin-bottom:5px;
  display:inline;
  border-bottom: 1px dashed rgba(173, 70, 162, 0.5);
}

div.article-content h5 {
  margin-top: 10px;
  margin-bottom: 10px;
}

div.article-content p.timestamp {
  display:inline-block;
  text-align: right;
}

div.article-tags {
  list-style-type:none;
  margin-bottom: 50px;
}

div.article-tags li.topic {
  display: inline-block;
  margin:5px;
  color: rgb(173, 173, 173);
  font-size:0.8rem;
  text-decoration: underline;
}

div.article-tags li.topic a {
  font-weight:bold;
  font-size:1rem;
  padding-left:3px;
}

div.timestamp {
  float:right;
  color:grey;
  padding:3px;
  font-size: 0.8rem;
}

div.tone {
  float:right;
}

div.tone.green {
  color:green;
}

div.tone.red {
  color:darkred;
}

div.tone.grey {
  color:grey;
}

div.tone.hidden {
  display:none;
}
