h1.sb-title {
  background-color: black;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  text-align: left;
  padding:5px;
  margin:0 !important;
  font-size: 1.5rem;
  line-height: 3rem;
}

h1.sb-title:hover {
  background-color: rgb(28,71,90);
  cursor:pointer;
}

span.arrow {
  float:right;
  font-weight: normal;
  font-size: 1rem;
  vertical-align:sub;
  margin-top: 0.2rem;
}

div.menu-content {
  max-height:0;
  overflow:hidden;
  background-color: rgb(28,71,90);
  margin:0;
}

div.menu-content.show {
  max-height: 30vh;
  overflow: scroll;
}

div.menu-content li {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

div.menu-content li:hover {
  background-color: rgb(100, 127, 140);
}
