@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Montserrat:600');


div.search-topics {
  width:60%;
  min-width:500px;
  margin:auto;
  position:relative;
  text-align: center;
}

div.search-topics h1 {
  font-size: 1rem;
}

div.search-topics input {
  line-height: 2rem;
  font-size: 1rem;
  display:block;
  margin:auto;
  margin-bottom:20px;
}

div.results-list {
  width:70%;
  margin:auto;
  position:relative;
}

div.topic-result {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid lightgrey;
}

div.topic-result h1 {
  font-family: 'Montserrat', sans-serif;
}

div.topic-result p {
  font-size: 0.9rem;
  font-family: 'Crimson Text', serif;
}

div.topic-result a {
  transition: 0.5s;
}

div.topic-result a:hover {
  font-weight:normal;
  border-bottom:1px dashed lightgrey;
}
